[submodule "bundle/AnsiEsc"]
	path = bundle/AnsiEsc
	url = https://github.com/powerman/vim-plugin-AnsiEsc.git
	ignore = untracked
[submodule "bundle/AutoComplPop"]
	path = bundle/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
	ignore = untracked
[submodule "bundle/BreakPts"]
	path = bundle/BreakPts
	url = https://github.com/vim-scripts/BreakPts.git
	ignore = untracked
[submodule "bundle/Conque-Shell"]
	path = bundle/Conque-Shell
	url = https://github.com/vaibhav276/Conque-Shell.git
	ignore = untracked
[submodule "bundle/DrawIt"]
	path = bundle/DrawIt
	url = https://github.com/vim-scripts/DrawIt.git
	ignore = untracked
[submodule "bundle/JavaImp.vim"]
	path = bundle/JavaImp.vim
	url = git@github.com:rustushki/JavaImp.vim.git
	ignore = untracked
[submodule "bundle/LustyExplorer"]
	path = bundle/LustyExplorer
	url = https://github.com/vim-scripts/LustyExplorer.git
	ignore = untracked
[submodule "bundle/MatchTag"]
	path = bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
	ignore = untracked
[submodule "bundle/NrrwRgn"]
	path = bundle/NrrwRgn
	url = https://github.com/chrisbra/NrrwRgn.git
	ignore = untracked
[submodule "bundle/Nvim-R"]
	path = bundle/Nvim-R
	url = https://github.com/jalvesaq/Nvim-R.git
	ignore = untracked
[submodule "bundle/TaskList.vim"]
	path = bundle/TaskList.vim
	url = https://github.com/vim-scripts/TaskList.vim.git
	ignore = untracked
[submodule "bundle/VimCalc"]
	path = bundle/VimCalc
	url = https://github.com/gregsexton/VimCalc.git
	ignore = untracked
[submodule "bundle/XML-Folding"]
	path = bundle/XML-Folding
	url = https://github.com/vim-scripts/XML-Folding.git
	ignore = untracked
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
	ignore = untracked
[submodule "bundle/cmdalias.vim"]
	path = bundle/cmdalias.vim
	url = https://github.com/vim-scripts/cmdalias.vim.git
	ignore = untracked
[submodule "bundle/coc.nvim"]
	path = bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	ignore = untracked
[submodule "bundle/codi.vim"]
	path = bundle/codi.vim
	url = https://github.com/metakirby5/codi.vim.git
	ignore = untracked
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
	ignore = untracked
[submodule "bundle/cscope_maps"]
	path = bundle/cscope_maps
	url = git@github.com:chazy/cscope_maps.git
	ignore = untracked
[submodule "bundle/enabler_vim"]
	path = bundle/enabler_vim
	url = https://github.com/tomtom/enabler_vim.git
	ignore = untracked
[submodule "bundle/evervim"]
	path = bundle/evervim
	url = https://github.com/kakkyz81/evervim.git
	ignore = untracked
[submodule "bundle/file-line"]
	path = bundle/file-line
	url = https://github.com/bogado/file-line.git
	ignore = untracked
[submodule "bundle/foldutil.vim"]
	path = bundle/foldutil.vim
	url = https://github.com/vim-scripts/foldutil.vim.git
	ignore = untracked
[submodule "bundle/genutils"]
	path = bundle/genutils
	url = https://github.com/vim-scripts/genutils.git
	ignore = untracked
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
	ignore = untracked
[submodule "bundle/javacomplete"]
	path = bundle/javacomplete
	url = https://github.com/vim-scripts/javacomplete.git
	ignore = untracked
[submodule "bundle/linediff.vim"]
	path = bundle/linediff.vim
	url = git://github.com/AndrewRadev/linediff.vim.git
	ignore = untracked
[submodule "bundle/maven-compiler.vim"]
	path = bundle/maven-compiler.vim
	url = https://github.com/JalaiAmitahl/maven-compiler.vim.git
	ignore = untracked
[submodule "bundle/mru"]
	path = bundle/mru
	url = https://github.com/yegappan/mru.git
	ignore = untracked
[submodule "bundle/neocomplcache.vim"]
	path = bundle/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim.git
	ignore = untracked
[submodule "bundle/neosnippet-snippets"]
	path = bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
	ignore = untracked
[submodule "bundle/neosnippet.vim"]
	path = bundle/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim.git
	ignore = untracked
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "bundle/open-browser.vim"]
	path = bundle/open-browser.vim
	url = https://github.com/tyru/open-browser.vim.git
	ignore = untracked
[submodule "bundle/patchreview-vim"]
	path = bundle/patchreview-vim
	url = https://github.com/junkblocker/patchreview-vim
	ignore = untracked
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/powerline/powerline.git
	ignore = untracked
[submodule "bundle/rainbow_parentheses.vim"]
	path = bundle/rainbow_parentheses.vim
	url = git@github.com:kien/rainbow_parentheses.vim.git
	ignore = untracked
[submodule "bundle/regex"]
	path = bundle/regex
	url = https://github.com/ervandew/regex.git
	ignore = untracked
[submodule "bundle/simple_bookmarks.vim"]
	path = bundle/simple_bookmarks.vim
	url = https://github.com/AndrewRadev/simple_bookmarks.vim.git
	ignore = untracked
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
	ignore = untracked
[submodule "bundle/splitjoin.vim"]
	path = bundle/splitjoin.vim
	url = git@github.com:AndrewRadev/splitjoin.vim.git
	ignore = untracked
[submodule "bundle/swift.vim"]
	path = bundle/swift.vim
	url = https://github.com/keith/swift.vim.git
	ignore = untracked
[submodule "bundle/switch.vim"]
	path = bundle/switch.vim
	url = https://github.com/AndrewRadev/switch.vim.git
	ignore = untracked
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = untracked
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
	ignore = untracked
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
	ignore = untracked
[submodule "bundle/tagbar-javascript.vim"]
	path = bundle/tagbar-javascript.vim
	url = https://github.com/hushicai/tagbar-javascript.vim
	ignore = untracked
[submodule "bundle/targets.vim"]
	path = bundle/targets.vim
	url = git://github.com/wellle/targets.vim.git
	ignore = untracked
[submodule "bundle/taskpaper.vim"]
	path = bundle/taskpaper.vim
	url = https://github.com/davidoc/taskpaper.vim.git
	ignore = untracked
[submodule "bundle/tcomment_vim"]
	path = bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
	ignore = untracked
[submodule "bundle/terminus"]
	path = bundle/terminus
	url = git://git.wincent.com/terminus.git
	ignore = untracked
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
	ignore = untracked
[submodule "bundle/tern_for_vim"]
        path = bundle/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim.git
	ignore = untracked
[submodule "bundle/tsuquyomi"]
	path = bundle/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
	ignore = untracked
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
	ignore = untracked
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
	ignore = untracked
[submodule "bundle/unite-scriptnames"]
	path = bundle/unite-scriptnames
	url = https://github.com/zhaocai/unite-scriptnames.git
	ignore = untracked
[submodule "bundle/vCoolor.vim"]
	path = bundle/vCoolor.vim
	url = https://github.com/KabbAmine/vCoolor.vim.git
	ignore = untracked
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand
	ignore = untracked
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
	ignore = untracked
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
	ignore = untracked
[submodule "bundle/vim-angular"]
	path = bundle/vim-angular
	url = https://github.com/burnettk/vim-angular.git
	ignore = untracked
[submodule "bundle/vim-arduino-ino"]
	path = bundle/vim-arduino-ino
	url = https://github.com/jplaut/vim-arduino-ino.git
	ignore = untracked
[submodule "bundle/vim-bufsurf"]
	path = bundle/vim-bufsurf
	url = https://github.com/ton/vim-bufsurf.git
	ignore = untracked
[submodule "bundle/vim-cdargs"]
	path = bundle/vim-cdargs
	url = https://github.com/gaffneyc/vim-cdargs.git
	ignore = untracked
[submodule "bundle/vim-closetag"]
	path = bundle/vim-closetag
	url = git@github.com:alvan/vim-closetag.git
	ignore = untracked
[submodule "bundle/vim-codeoverview"]
	path = bundle/vim-codeoverview
	url = https://github.com/Twinside/vim-codeoverview.git
	ignore = untracked
[submodule "bundle/vim-cycle"]
	path = bundle/vim-cycle
	url = https://github.com/zef/vim-cycle.git
	ignore = untracked
[submodule "bundle/vim-decompile"]
	path = bundle/vim-decompile
	url = git@github.com:bam9523/vim-decompile.git
	ignore = untracked
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
	ignore = untracked
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
	ignore = untracked
[submodule "bundle/vim-easytags"]
	path = bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
	ignore = untracked
[submodule "bundle/vim-exchange"]
	path = bundle/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
	ignore = untracked
[submodule "bundle/vim-fontsize"]
	path = bundle/vim-fontsize
	url = https://github.com/drmikehenry/vim-fontsize.git
	ignore = untracked
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = git@github.com:fatih/vim-go.git
	ignore = untracked
[submodule "bundle/vim-hardy"]
	path = bundle/vim-hardy
	url = https://github.com/4Evergreen4/vim-hardy.git
	ignore = untracked
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
	ignore = untracked
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
	ignore = untracked
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json.git
	ignore = untracked
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
	ignore = untracked
[submodule "bundle/vim-localvimrc"]
	path = bundle/vim-localvimrc
	url = git@github.com:embear/vim-localvimrc.git
	ignore = untracked
[submodule "bundle/vim-lsp"]
	path = bundle/vim-lsp
	url = git@github.com:prabirshrestha/vim-lsp.git
	ignore = untracked
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
	ignore = untracked
[submodule "bundle/vim-matrix-screensaver"]
	path = bundle/vim-matrix-screensaver
	url = https://github.com/uguu-org/vim-matrix-screensaver.git
	ignore = untracked
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
	ignore = untracked
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
	ignore = untracked
[submodule "bundle/vim-plantuml"]
	path = bundle/vim-plantuml
	url = https://github.com/aklt/plantuml-syntax.git
	ignore = untracked
[submodule "bundle/vim-reload"]
	path = bundle/vim-reload
	url = https://github.com/xolox/vim-reload.git
	ignore = untracked
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
	ignore = untracked
[submodule "bundle/vim-rfc"]
	path = bundle/vim-rfc
	url = git@github.com:mhinz/vim-rfc.git
	ignore = untracked
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = https://github.com/xolox/vim-session.git
	ignore = untracked
[submodule "bundle/vim-shell"]
	path = bundle/vim-shell
	url = https://github.com/xolox/vim-shell.git
	ignore = untracked
[submodule "bundle/vim-sipindex"]
        path = bundle/vim-sipindex
	url = https://github.com/esoytekin/vim-sipindex.git
	ignore = untracked
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
	ignore = untracked
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "bundle/vim-taskwarrior"]
	path = bundle/vim-taskwarrior
	url = https://github.com/blindFS/vim-taskwarrior.git
	ignore = untracked
[submodule "bundle/vim-translator"]
	path = bundle/vim-translator
	url = https://github.com/maksimr/vim-translator.git
	ignore = untracked
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
	ignore = untracked
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
	ignore = untracked
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = https://github.com/sukima/xmledit.git
	ignore = untracked
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/ant.vim"]
	path = bundle/ant.vim
	url = git@github.com:esoytekin/ant.vim
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "bundle/vim-jsx-pretty"]
	path = bundle/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty
[submodule "bundle/vim-graphql"]
	path = bundle/vim-graphql
	url = https://github.com/jparise/vim-graphql
