[submodule "bundle/codi.vim"]
	path = bundle/codi.vim
	url = https://github.com/metakirby5/codi.vim.git
[submodule "bundle/AutoComplPop"]
	path = bundle/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
